{% extends "epoll/layout.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="jumbotron">
  <h3>Password Change Form</h3>
  <form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% for field in form %}
      <div class="form-group">
        {% if field.errors %}
          {% for error in field.errors %}
            <ul>
              <li>{{error}}</li>
            </ul>
          {% endfor %}
        {% endif %}   
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-sm btn-primary" value="Update">
  </form>
</div>

{% endblock %}